/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.nav-wrapper span {
	margin-left: 10px;
}

.nav-wrapper {
	display: flex;
}

.estimation-result {
	font-size: 25px;
}

.estimation-result i {
	margin-right: 15px;
}

.estimation-result > div {
	 display: flex;
  align-items: center;
}

.back-to-form {
	 margin-top: 30px;
  margin-bottom: 30px;
}
