<form name="biasForm">
    <div class="input-field">
        <textarea required class="materialize-textarea" ng-model="$ctrl.text" id="txt-area" rows="30"></textarea>
        <label for="txt-area">Paste your text here</label>
    </div>

    <div class="input-field">
        <input required type="text" ng-model="$ctrl.code" id="code"/>
        <label for="code">Enter your code</label>
        <blockquote>
            Don't have code? Write to <a href="mailto:xyz@verbalab.ru">xyz@verbalab.ru</a> to request one.
        </blockquote>
    </div>

    <button
            class="btn waves-effect waves-light"
            ng-disabled="biasForm.$invalid"
            ng-click="$ctrl.onSubmit()">
        Check text
         <i class="material-icons right">network_check</i>
    </button>
</form>

